pkgbase = byteback-bin
	pkgdesc = A fast TUI that reclaims disk space by sweeping regenerable build/dependency directories (node_modules, .next, target, ...)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/neolaner/byteback
	arch = x86_64
	license = MIT
	provides = byteback
	conflicts = byteback
	options = !strip
	options = !debug
	source = byteback-0.1.0.tar.gz::https://github.com/neolaner/byteback/releases/download/v0.1.0/byteback-x86_64-unknown-linux-musl.tar.gz
	source = LICENSE-0.1.0::https://github.com/neolaner/byteback/raw/v0.1.0/LICENSE
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = byteback-bin
